.logo {
  font-size: 3rem;
  color: #f97b22;
  font-weight: bold;
  font-style: italic;
}
.container_nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #363636;
  margin-bottom: 10rem;
  padding: 2rem 4rem;
}

.nav_link {
  text-decoration: none;
  font-size: 3rem;
  color: #ffffff;
  margin-right: 4rem;
}

.nav_link:hover {
  color: #f97b22;
}

.container_links {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}
